rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId}/durableGoodsItems/{itemId} {
      allow read, create, update, delete: if isOwner(userId);
    }

    match /users/{userId}/pcItems/{pcId} {
      allow read, create, update, delete: if isOwner(userId);
    }
  }
}
